.container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 100px 200px;
}

header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}